.container{
  text-align:center;
  border: 3px solid black;
  border-radius: 15px;
  width: 100%;
  height: 500px;
  font-weight: bold;
}
#display{
  font-size: 80px;
}
#roma_{
  color: gray;
}
.span{
  display: block;
}
